:root{
    --branco-principal:#FFFFFF;
    --cinza-secundario:#C0C0C0;
    --botao-azul:#167BF7;
    --cor-de-fundo:#00030C;
    --cor-hover: #2BDEFD;

    --font-principal: 'Inter';
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--font-principal);
    font-size: 0.9rem;
    font-weight: 400;
}

.principal{
    background-image: url(../img/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}
.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__botao{
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}
.botao_secundario{
    background-color: transparent;
    border: 2px solid var(--branco-principal);

}

.container__aviso{
    font-size: 0.7rem;
    color: var(--cinza-secundario);
}

.container__titulo{
    font-size: 1.7rem;
    font-weight: 700;
}

.container__imagem{
    margin: 1em 0 2em 0;
}

.container__caixa{
    margin: 0 6em;
}

.secundario__imagem{
    width: 80%;
    height: auto;
    
}
.secundario{
    align-items: center;
    margin: 0 10em;
}

.terciario{
    align-items: center;
    margin: 0 10em;
}

.descricao__titulo{
    font-weight: 700;
    font-size: 2.7rem;
    color: var(--branco-principal);
    margin-bottom: 0.1em
}
.descricao__texto{
    font-size: 0.9rem;
    color: var(--cinza-secundario);
}

.secundario__botao{
    display: inline-block;
    margin-top: 1em;
}

.container__descricao{
    padding: 1em;
}

.dispositivos{
    text-align: center;
}
.dispositivos__titulo{
    font-size: 2.7rem;
    color: var(--branco-principal);
    font-weight: 700;
}

.dispositivos__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.lista__item{
    font-size: 1.8rem;
    color: var(--branco-principal);
    font-weight: 700;
}

.rodape{
    text-align: center;
    margin: 5em 3em;
}

.rodape__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}

.lista__link a{
    text-decoration: none;
    color: var(--branco-principal);
    font-size: 0.9rem;
    margin-left: 1em;
}

.rodape__texto{
    color: var(--cinza-secundario);
    font-size: 0.8rem;
    margin: 1em 0;
}

.lista__link a:hover{
    color: var(--cor-hover);
}

@media (max-width:1520px) {
    .principal{
        display: grid;
        grid-template-columns: 50% 15%;
        background-position: center;
    }   
}
@media (max-width:1030px) {
    .principal{
        background-image:  none;
    }
    .container{
        display: flex;
    }
    .secundario{
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        justify-content: center;
    }
    .terciario{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
}
@media (max-width:850px) {
    .container__caixa{
        margin: 2em 2em;
    }
    .container__imagem{
        width: 50%;
    }
    .dispositivos{
        display: flex;
        flex-direction: column;
        margin: 1em 1em;
    }
    .dispositivos__titulo{
        font-size: 2rem;
    }
    .secundario__imagem{
        width: 100%;
    }
    .secundario{
        display:grid;
        margin: 2em 2em;        
    }
    .terciario{
        display: grid;
        margin: 2em 2em;
    }
    .dispositivos__lista{
        display: contents;
        margin: 1em 1em;
    }
    .rodape{
        margin: 2em 1em;
    }
    .rodape__lista{
        display: contents;
        justify-content:center;
        text-align: center; 
    }
}
@media (max-width:400px) {
    .container{
        display: flex;
        text-align: center;
        justify-content: center; 
    }
    .container__caixa{
        margin: 2em;
    }
    .principal{
        display: contents;
        margin: 1em 1em;
    }
    .container__imagem{
        width: 100%;
    }
    .dispositivos{
        display: flex;
        flex-direction: column;
        margin: 1em 1em;

    }
    .dispositivos__titulo{
        font-size: 2rem;
    }
    .secundario{
        margin: 0 1em;
    }
    .terciario{
        margin: 0 1em;
    }
    .dispositivos__lista{
        display: contents;
        margin: 1em 1em;
    }
    .rodape{
        margin: 2em 1em;
    }
    .rodape__lista{
        display: contents;
        justify-content:center;
        text-align: center; 
    }
}
